*{
    margin: 0;
    padding: 0;
    background-color: #313742;
}

#top-container{
    display: flex;
    flex-direction: row;
}

#side-nav-bar{
    height: 100vh;
    width: 15em;
    /* margin-top: -10em; */
    background-color: #171e2e;

}

#nav-items{
    background-color: #d9d9d9;
    width: 30em;
    height: 10em;
    z-index: 99;
}



#Introduction{
   margin-left: 5em;
    margin-top: 1em;
    color: #d9d9d9;
    font-size: x-large;
    font-weight: bolder;

}

#sub-intro{
    color: #d9d9d9;
    font-size: small;
    margin-top: 0.5em;
    margin-left: 9.5em;

}
/* 
#tool-boxs{

}

#tool-box{
    height: 5em;
    width: 30em;
    background-color: #171e2e;
} */