*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;


}

body{
 background-color:  #0d1320;

}


header{
  background-color: #171e2e;
  padding: 2em;
}


ul{
  list-style: none;
  display: inline-flex;
  align-content: center;
}

 
#nav-items{
  margin-left: 40em;
} 

#nav-items li{
  padding-right: 5em;
  color: #d9d9d9;
}

#logo{
  position:absolute;
  margin-left: 10em;
  margin-top: -0.5em;
}



/* header{
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #d9d9d9;
  padding: 1em;
} */



